<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Uploaded Songs List</title>
</head>
<body>
<h2>Uploaded Songs</h2>
<table border="1">
    <thead>
    <tr>
        <th>Song Name</th>
        <th>Artist</th>
        <th>Genre</th>
        <th>File Path</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="song : ${songs}">
        <td th:text="${song.songName}"></td>
        <td th:text="${song.artist}"></td>
        <td th:text="${song.genre}"></td>
        <td th:text="${song.filePath}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
