<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sản phẩm 1</title>
    <th:block th:replace="~{common/common::bootstrap}"></th:block>

</head>
<body>
<div class="container">
    <nav th:replace="~{common/common::navba}"></nav>
    <div class="card">
        <img th:src="${product.getImage()}" alt="Sản phẩm" style="height: 400px;width: 80%"/>
        <div class="card-body">
            <h5 class="card-title" th:text="${product.getName()}"></h5>
            <p class="card-text">
            <ul>
                <li>Tặng box, thiệp (trị giá 300.000₫) miễn phí</li>
                <li>Giảm ngay 100.000đ khi Bạn tạo đơn hàng online</li>
            </ul>
            </p>
            <p class="text-decoration-line-through">Giá cũ: 10000000.0 ₫</p>
            <p class="display-6">Giá mới: <span th:text="${product.getPrice()}"></span> ₫</p>
            <form method="post">
                <button type="submit" class="btn btn-primary">MUA NGAY</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
