<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View</title>
</head>
<body>
<h1>Đang phát bài hát <span th:if="${song.isPresent()}" th:text="${song.get().songName}"></span></h1>
<p>
    <a th:href="@{/songs}">Back list</a>
</p>
<div th:if="${song.isPresent()}">
    <div>
        <label>SongName : </label>
        <h2 th:text="${song.get().songName}"></h2>
    </div>
    <div>
        <label>Artist : </label>
        <h2 th:text="${song.get().artist}"></h2>
    </div>
    <div>
        <label>Genre : </label>
        <h2 th:text="${song.get().genre}"></h2>
    </div>
    <div>
        <label>FilePath : </label>
        <h2 th:text="${song.get().filePath}"></h2>
    </div>
</div>
<div th:unless="${song.isPresent()}">
    <p>Không có bài hát được chọn.</p>
</div>
</body>
</html>
