<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Blog</title>
    <th:block th:replace="~{bootstrap::linkBootstrap}">
    </th:block>
</head>
<body>
<div class="container">
    <h3>Edit Blog</h3>
    <p>
        <a class="btn btn-primary" th:href="@{/blog}">
            Back to Blog list
        </a>
    </p>
    <form action="#" th:action="@{/blog/update}" th:object="${blog}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div class="form-control mb-3">
            <label for="title">Title : </label>
            <input class="form-control" type="text" id="title" th:field="*{title}"/>
        </div>
        <div class="form-control mb-3">
            <label for="content">Content : </label>
            <input class="form-control" type="text" id="content" th:field="*{content}"/>
        </div>
        <div class="form-control mb-3">
            <label for="author">Author : </label>
            <input class="form-control" type="text" id="author" th:field="*{author}"/>
        </div>
        <div class="form-control mb-3">
            <label for="description">Description : </label>
            <textarea class="form-control" type="text" id="description" contenteditable="true" rows="10" th:field="*{description}"></textarea>
        </div>
        <button type="submit"  class="btn btn-success mb-3" >Update Blog</button>
    </form>
</div>
<th:block th:replace="~{bootstrap::footter}"></th:block>
</body>
</html>