<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog Detail</title>
    <th:block th:replace="~{bootstrap::linkBootstrap}">
    </th:block>
</head>
<body>
<div class="container">
    <h3>Blog Detail</h3>
    <p>
        <a class="btn btn-primary" th:href="@{/blog}">
            Back to Blog list
        </a>
    </p>
    <div style="font-size: 20px; font-weight: bold">
        <div class="cus-detail">
            <label>Title : </label>
            <label th:text="${blog.title}"></label>
        </div>
        <div class="cus-detail">
            <label>Content : </label>
            <label th:text="${blog.content}"></label>
        </div>
        <div class="cus-detail">
            <label>Author : </label>
            <label th:text="${blog.author}"></label>
        </div>
        <div class="cus-detail">
            <label for="description">Description:</label>
            <textarea class="form-control" id="description" rows="10" readonly th:text="${blog.description}"></textarea>
        </div><br>
    </div>
</div>
<th:block th:replace="~{bootstrap::footter}"></th:block>
</body>
</html>